

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li{
  display: flex;
  flex-direction: column;


}

li a{
  height: 12rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5;
  margin-right: 0.5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color:  rgb(90, 4, 40);
}

li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 12rem;
}

.content{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  height: 9rem;
  width: 20rem;
  padding: 0.3rem 1rem;
  border: 1px solid whitesmoke;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: lightgray;
}

.favourite{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: red;
}

.favourite.not{
  color: gray;
}

.stars{
  margin-bottom: 0.2rem;
}
/*
.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.teal{
  height: 20px;
  align-self: center;
}*/
.add-rem{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem;
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
}



.color-green{
  background-color: aquamarine;
}

.color-red{
  background-color: rgb(151, 5, 5);
}

.color-yellow{
  background-color: yellow;
}

button{
  color: white;
  background: rgb(90, 4, 40);
  border: none;
  border-radius: 10rem;
  outline: none;
  height: 1.5rem;
}

button:hover{
  opacity: 0.9;
  cursor: pointer;
}

.addBtn{

  display:flex;
  background: rgb(90, 4, 40);
  border: none;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  outline: none;
  height: 4rem;
  width: 4rem;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.addBtn a{
  color: white;
  align-self: center;

}

.filters{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1rem;
}
