
<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let food of foods " >
      <a routerLink="/food/{{food.id}}" *ngIf="!food.deleted">
        <img [src]="food.imageUrl" [alt] = "food.name"/></a>
        <div class="content" [ngClass]="{
          'color-green':food.price == minprice,
          'color-red':food.price == maxprice,
          'color-yellow':food.inStock <= 3
        }" *ngIf="!food.deleted">
          <div class="name">
            {{food.name | uppercase}}
          </div>
          <!--<span class="favourite {{food.favourite?'':'not'}}">&#10084;</span>-->
          <div class="stars">
            <star-rating
            [value]="food.stars"
            [totalstars]="5"
            checkedcolor="red"
            uncheckedcolor="black"
            size="22px"
            [readonly]="true"></star-rating>
          </div>
          <div class="product-item-footer">
            <div class="origins">{{food.origins | uppercase }}
            </div>
            <!--<div class="cooktime">⌛ {{food.cookTime}}</div>-->
            <div class="price">
              <span>{{food.price | currency}}</span>
            </div>
            <div class="stock">{{food.inStock}}</div>
          </div>
          <button (click)="deleteFood(food)"*ngIf="!food.deleted">Delete</button>
          <div class="add-rem">
            <button class="teal" id="add" (click)="AddClick(food)" *ngIf="food.inStock > 0">&plus;</button>
            <p class="added">{{food.inStock-1}}</p>
            <button class="teal" id="remove" (click)="MinClick(food)">&minus;</button>
          </div>
        </div>




  </li>

</ul>
<button class="addBtn"><a routerLink="/add-dish" class="text-center">+</a>
</button>


<app-search-price></app-search-price>
