<div class="container">
  <div class="foodinfo">
  <img [src]="food.imageUrl" [alt]="food.name">
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name | uppercase }}
      </span>
      <!--<span class="favourite {{food.favourite? '':'not'}}">&#10084;</span>-->
    </div>
    <div class="rating">
      <star-rating
          [value]="food.stars"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="22px"
          [readonly]="true">
        </star-rating>
    </div>
    <div class="origins">
      <span>{{food.origins | uppercase }}</span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
    </div>
    <div class = "idk">
      <div class="col-8">
    <div class="price">
      <span>{{food.price | currency}}</span>
    </div>
    <div class="inStock">
      <span>{{food.inStock}}</span>
    </div></div>
    <div class="col-4">
      <div class="add-rem" *ngIf="user.name">
        <button class="teal" id="add" (click)="addQuant()"  *ngIf="food.inStock > 0">&plus;</button>
        <p class="added" id="infotext">{{food.reserved}}</p>
        <button class="teal" id="remove" (click)="delQuant()">&minus;</button>
      </div>
    </div>

    </div>
    <button class="addToCart" (click)="addToCart()" *ngIf="user.name">Add to cart</button>
    <div class="description"><h3>Description</h3><span>{{food.description}}</span></div>
    <div class="ingredients"><span>{{food.ingredients}}</span></div>
    <div class="go">
      <button class="goBack" routerLink="/menu">&#8617;</button>
    </div>
  </div>
</div>

  <div class="ops" *ngIf="user.name">
    <form [formGroup]="opinionsForm" (ngSubmit)="submit()">
      <app-title fontSize="2.3rem" title="Add opinion"></app-title>
      <div class="input-container">
        <label class="input-label">Title</label>
        <div>
          <input type="name" placeholder="Title" formControlName="name" class="input-field">
        </div>
        <div class="error-list" *ngIf="fc.name.errors && isSubmited">
          <div *ngIf="fc.name.errors.required">Should not be empty!!!</div>
        </div>
      </div>
      <div class="input-container">
        <label class="input-label">Description</label>
        <div>
          <textarea placeholder="Description" formControlName="description" class="input-field"></textarea>
        </div>
      </div>
      <div class="button">
        <button type="submit">+</button>
      </div>
    </form>
  </div>

  <div class="ops2">
    <ul>
      <app-title fontSize="2.3rem" title="Opinie:"></app-title>
      <li *ngFor="let op of opss">
        <p>Nick: {{op.nick}}</p>
        <p>Title: {{op.name}}</p>
        <p>Description: {{op.description}}</p>
      </li>
    </ul>
  </div>

</div>
